section.categorytable {background-color: #FFFFCC; visibility: hidden; float: inherit;}

section.add {background-color: #DCDCDC; visibility: hidden; float: inherit;}

section.change {background-color: #FFFFCC; visibility: hidden; float: inherit;}

section.delete {background-color: #DCDCDC; visibility: hidden; float: inherit;}

section.me {background-color: #FFFFCC; visibility: hidden; float: inherit;}